<section class="card section" [formGroup]="group()">
  <div class="section-title"><h2>Address Information</h2></div>
  <label class="check"><input type="checkbox" formControlName="sameAsCurrent" /> Permanent address same as current</label>
  <div class="address-grid">
    <fieldset formGroupName="current">
      <legend>Current Address</legend>
      <input class="input-like" formControlName="addressLine1" placeholder="Address line 1" />
      <input class="input-like" formControlName="addressLine2" placeholder="Address line 2" />
      <input class="input-like" formControlName="city" placeholder="City" />
      <input class="input-like" formControlName="state" placeholder="State" />
      <input class="input-like" formControlName="country" placeholder="Country" />
      <input class="input-like" formControlName="postalCode" placeholder="Postal code" />
    </fieldset>
    <fieldset formGroupName="permanent">
      <legend>Permanent Address</legend>
      <input class="input-like" formControlName="addressLine1" placeholder="Address line 1" />
      <input class="input-like" formControlName="addressLine2" placeholder="Address line 2" />
      <input class="input-like" formControlName="city" placeholder="City" />
      <input class="input-like" formControlName="state" placeholder="State" />
      <input class="input-like" formControlName="country" placeholder="Country" />
      <input class="input-like" formControlName="postalCode" placeholder="Postal code" />
    </fieldset>
  </div>
</section>
